<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div id="container" class="ui container">
        <div class="header item"><i class="code icon"></i>Blog Site</div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Blog</a>
      </div>
    </div>
